@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: DarkSlateBlue;
    color: White;
    font-family: JetBrains Mono, serif; /* Kinda makes the website easier to read - sofia */
}

header {
    margin: auto;
    padding: auto;
}

.rightside {
    float: right;
    font-size: 18px;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}