@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: "Arial", serif;
}

header {
    margin: auto;
    padding: auto;
}

.rightside {
    float: right;
    font-size: 18px;
}
